<header id="header">
	<h1><a href="/admin/index" class="icon fa-tint">iLoveBluemix 管理頁面</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/admin/logout">登出</a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		</ul>
	</nav>
</header>