<!DOCTYPE HTML>
<html>
	<head>
		<title>活動</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<%- partial('../components/header-script') %>

	</head>
	<body>
		<div id="page-wrapper">

			<%- partial('../components/header') %>

			<div class="wrapper style3">
				<section id="main" class="container">
					<header class="major">
						<h2>活動</h2>
						<p>Faucibus neque adipiscing mi lorem semper blandit</p>
					</header>
					<div class="row 150%">
						<div class="3u 12u(narrow)">

							<section id="sidebar">
								<section>
									<h3>Magna Feugiat</h3>
									<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button small alt">Learn More</a></li>
										</ul>
									</footer>
								</section>
								<hr />
								<section>
									<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
									<h3>Amet Lorem Tempus</h3>
									<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button small alt">Learn More</a></li>
										</ul>
									</footer>
								</section>
							</section>

						</div>
						<div class="9u 12u(narrow) important(narrow)">

							<section id="content">
								<div class="row">
									<div class="6u 12u(narrow)">
										<section class="image-feature">
											<a href="#">
												<header>
													<h3>Magna etiam</h3>
												</header>
												<span class="image fit"><img src="/images/pic02.jpg" alt="" /></span>
												<footer>
													<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia pulvinar.</p>
												</footer>
											</a>
										</section>
									</div>
									<div class="6u 12u(narrow)">
										<section class="image-feature">
											<a href="#">
												<header>
													<h3>Ipsum feugiat</h3>
												</header>
												<span class="image fit"><img src="/images/pic03.jpg" alt="" /></span>
												<footer>
													<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia pulvinar.</p>
												</footer>
											</a>
										</section>
									</div>
									<div class="6u 12u(narrow)">
										<section class="image-feature">
											<a href="#">
												<header>
													<h3>Arcu phasellus</h3>
												</header>
												<span class="image fit"><img src="/images/pic04.jpg" alt="" /></span>
												<footer>
													<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia pulvinar.</p>
												</footer>
											</a>
										</section>
									</div>
								</div>
							</section>

						</div>
					</div>
				</section>
			</div>

			<%- partial('../components/footer') %>

		</div>

		<%- partial('../components/footer-script') %>

	</body>
</html>